target
target_ci
target_ci_stable
Cargo.lock
third_party
/Cargo.toml
out/
# editor artifacts
.zed
.neoconf.json
*.vim
**/.idea
**/.nvim.lua

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
