* text=auto

*.adoc     text
*.html     text
*.in       text
*.json     text
*.md       text
*.proto    text
*.py       text
*.rs       text
*.service  text
*.sh       text
*.toml     text
*.txt      text
*.x        text
*.yml      text

.vscode/*.json linguist-language=JSON-with-Comments

*.raw    binary
*.bin    binary
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.mov    binary
*.mp4    binary
*.mp3    binary
*.flv    binary
*.fla    binary
*.swf    binary
*.gz     binary
*.zip    binary
*.7z     binary
*.ttf    binary
*.eot    binary
*.woff   binary
*.pyc    binary
*.pdf    binary
*.ez     binary
*.bz2    binary
*.swp    binary
