[Unit]
Description=perf-server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/perf-server
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
