name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: rust-src, rustfmt
          override: true
      - name: install
        run: rustup target add thumbv7em-none-eabi thumbv6m-none-eabi
      - name: Build
        run: ./ci.sh
